.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.App-Header {
  height: 70px;
  width: 100%;
  border-style: solid;
  border-width: 0;
  border-color: #d6d6d6;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  margin-bottom: 10px;
  padding: 11px 30px 10px 30px;
}

.landing-title {
  height: 90px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-title h2 {
  font-size: 32px;
  font-weight: 700;
}

.landing-page {
  display: flex;
  margin-bottom: 80px;
  width: 100%;
}

.landing-card {
  width: 48%;
  margin: 0 auto;
}

.landing-card p {
  font-size: 18px;
  letter-spacing: 3px;
}

footer {
  width: 100%;
  background-color: #072b38;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 48px;
  margin-right: 100px;
}
